<%-include('partials/headers.ejs') %>

<body>
    <div class="container"><br>
        <h3>Tabela de carros</h3><br>
        <a href="/form" class="btn btn-danger">Voltar para o formulário de carros</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>numero</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% carros.forEach(carro => { %>
                    <tr>
                        <th><%= carro.id %></th>
                        <th><%= carro.marca %></th>
                        <th><%= carro.modelo %></th>
                        <th><%= carro.valor %></th>
                        <th>
                            <a href="/edit/<%= carro.id %>" class="btn btn-warning">Editar</a>
                            <form action="/delete" method="post" style="display: inline;">
                                <input type="hidden" name="id" value="<%= carro.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>
</body>
<%-include('partials/footer.ejs') %>